html, body {
    margin: 0;
    background: #272a40;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #f5f5f5;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #FF4A57;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #141731;
    height: 4rem;
    position: fixed;
    width: 100%;
}

nav > a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 0 12px;
    font-size: 20px;
}

nav a:hover {
    color: #727FB1;
}

nav img {
    width: 3.75rem;
    height: 3.75rem;
}

nav a:first-child {
    padding: 0 6px;
}


nav > div > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

nav > div {
    position: relative;
    top: 14.4%;
    width: 59px;
    height: 29px;
    margin: -16px 10px 0 auto;
    overflow: hidden;
    border-radius: 100px;
}

nav input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

nav > div > div:first-of-type {
    z-index: 2;
}

nav > div > div:last-of-type {
    width: 100%;
    background-color: #FF4A57;
    transition: 0.3s ease all;
    z-index: 1;
}

nav > div > div:first-of-type:before {
    content: url(../images/germanyFlag.png);
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #272a40;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s;
}

nav input:active + div:first-of-type:before {
    width: 46px;
    border-radius: 100px;
}

nav input:checked:active + div:first-of-type:before {
    margin-left: -26px;
}

nav input:checked + div:first-of-type:before {
    content: url(../images/englandFlag.png);
    left: 32px;
}

main > section {
    width: 100%;
    height: calc(100vh - 4rem);
    scroll-snap-align: start;
}

main > section:nth-child(2n) {
    background: #21243C;
    padding-top: 4rem;
}

main > section:first-child {
    padding-top: 4rem;
}

main > section > div:first-child {
    width: 80%;
    height: 100%;
    margin: 0 10%;
}

h2 {
    text-align: center;
    padding-top: 15px;
    margin-top: 0;
    font-size: calc(1.5em + 2vw)
}

h3 {
    font-size: calc(1.17em + 0.5vw);
    margin: 0;
}

h4 {
    margin-bottom: 0;
    color: #FF4A57;
}

main > section > div {
    display: flex;
    justify-content: center;
}

main > section:first-child > div {
    align-items: center;
    flex-direction: row;
}

main > section:first-child > div > div {
    text-align: center;
}

main img {
    width: 50%;
    height: auto;
}

main > section:first-child > div > img {
    margin-left: 10%;
}

main > section:first-child span {
    border-right: 0.08em solid #fff
}

main > section:nth-child(2) img {
    width: 30%;
    height: auto;
    padding-right: 2%;
    object-fit: scale-down;
}

main > section:nth-child(2) div {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

main > section:nth-child(2) > div > div {
    flex-direction: row;
}

main > section:nth-child(2) > div > div > div > div {
    flex-direction: row;
    justify-content: space-around;
}

main a {
    color: #FF4A57;
}

main > section:last-child > div {
    flex-direction: column;
}

main > section:last-child > div > div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px 15px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}

main > section:last-child > div > div > div {
    background: #141731;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

main > section:last-child > div > div > div > p {
    align-self: center;
    text-align: center;
    color: #f5f5f5;
    margin: 0 10px 0 0;
}

main > section:last-child > div > div > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 5px 10px;
}

main > section:last-child img + p {
    margin: 5px 0 0 0;
    color: #FF4A57;
}

main > section:last-child img {
    width: 60px;
    height: 60px;
    object-fit: scale-down;
}

main > section:last-child a {
    text-align: center;
    margin: 10px 0;
    font-size: 32px;
}

nav img:hover {
    -webkit-animation: jello-horizontal 0.85s;
    animation: jello-horizontal 0.85s;
}

@-webkit-keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

main > section:last-child > div > div > div:hover img {
    -webkit-animation: flip-vertical 1s;
    animation: flip-vertical 1s;
}

@-webkit-keyframes flip-vertical {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(0);
    }
}

@keyframes flip-vertical {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(0);
    }
}

.bi-rocket:hover {
    cursor: pointer;
}

.rocketAnimation {
    -webkit-animation: slide-out-blurred-top 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-out-blurred-top 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-out-blurred-top {
    0% {
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

@media only screen and (max-width: 350px) {
    main > section:last-child img {
        width: 100%;
        height: 100%;
    }

}

@media only screen and (max-width: 400px) {
    nav > a {
        font-size: 4vw;
    }

    main ul > li {
        font-size: smaller;
    }

    main section:nth-child(2) p {
        margin-bottom: 0;
        font-size: smaller;
    }
}

@media only screen and (max-width: 500px) {
    main > section:first-child img {
        width: 80%;
    }
}

@media only screen and (max-width: 680px) {
    main > section:last-child > div > div > div > p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    main > section:nth-child(2) img {
        display: none;
    }
}


@media only screen and (max-width: 950px) {
    main > section:first-child > div {
        flex-direction: column-reverse;
    }

    main > section:first-child img {
        margin-left: 0;
        margin-bottom: 10%;
    }
}