html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #272a40 !important;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

nav {
    background: #191B2A;
}

a:hover {
    color: #777dac !important;
}

#divAbout a {
    color: white;
}

#divAbout h6 {
    color: #FF4A57;
}

section {
    padding-top: 62px;
    height: 100vh;
    scroll-snap-align: start;
}

#sec-2 ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.skillCard {
    height: 95px;
    width: 205px;
    padding-top: 10px;
    background: #191B2A;
    border-radius: 20px;
}

.skillCard h6 {
    color: #FF4A57;
}

.skillCard:hover img {
    -webkit-animation: flip-vertical 1s;
    animation: flip-vertical 1s;
}

@-webkit-keyframes flip-vertical {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    50% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
}
@keyframes flip-vertical {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    50% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
}

.cardImage {
    width: 30%;
}

.cardText {
    width: 70%;
}

.infoMe {
    padding-left: 1em;
}

.bi-rocket {
    color: #FF4A57;
}

.rocketAnimation {
    -webkit-animation: slide-out-blurred-top 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-out-blurred-top 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-out-blurred-top {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}
@keyframes slide-out-blurred-top {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

#imgLogo {
    width: 46px;
    height: 46px;
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #FF4A57;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #FF4A57;
}

@media only screen and (max-width: 1200px) {
    #divLeft {
        width: 70% !important;
    }

    #divRight {
        width: 30% !important;
    }
}

@media only screen and (max-width: 770px) {
    .cardImage {
        width: 100%;
        padding: 0 !important;
    }

    .cardText {
        display: none;
    }

    .skillCard {
        height: 105px;
        width: 105px;
        padding-top: 10px;
        background: #191B2A;
        border-radius: 20px;
    }

    #divImage {
        display: none !important;
    }

    #divAbout {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    #divLeft {
        width: 100% !important;
    }

    #divRight {
        display: none !important;
    }
}

@media only screen and (max-width: 400px) {
    .interestList {

    }
}